/* Resetting things*/
* {
    margin: 0 auto;
    padding: 0;
}



body {
    font-family: 'Roboto', sans-serif;
}

/* Header Section */

header {
    max-width: 100%;
    height: 650px;
}

.animatedhero {
    /*display: block;
    margin: 0 auto; - doesn't center elements when absolutely positioned */
    position: absolute; /* fills the empty space around .branding*/
    max-height: 650px; /* means it won't get any bigger than 600px */
    max-width: 100%; /* adding this will make it scale for different browser sizes */
    margin-left: 10px;
}

.branding {
    max-width: 70%;
    max-height: 120px;
    float: right;
}

section {
    background-color: pink;
}
